body {
  overflow-x: hidden;
}

.mainPage {
  background-image: url(../Assets/PS/wolves-188553_1920.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Google Fonts Selected
font-family: 'Barriecito', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Montserrat', sans-serif;
*/
.container-fluid {
  padding: 0;
}

/* Navigation Bar */
.navbar {
  padding: 0 0;
  background-color: rgba(0, 0, 0, 0.93);
}

.navbar-brand.brandText {
  padding: 0;
  font-family: "PT Serif", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.nav-item {
  padding: 0;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin: .5rem .25rem;
}

/*
.linkSplitter {
  border-right: .1rem solid #0d0d0d;
  height: 3.8rem;
}*/

.searchButton {
  background-color: rgba(255, 255, 255, .85);
  margin: 0 6rem 0 0;
  font-weight: 500;
}

.topSearch {
  margin: 0 0 0 4rem;
}

.unforBrand {
  width: 75px;
  margin: 0 0 0 5rem;
}

/* Navbar Top End */

/*Main Top Section*/

.mainTop {
  text-align: center;
  margin: 0;
  padding: 5rem 0 5rem;
}

.mainVid {
  opacity: .95;
  border-radius: 5%;
}



/*Main Bot Section*/

h1.mainH1,
h4.mainH4 {
  text-align: justify;
  margin: 0rem 0rem 1rem 8%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.1rem;
  -webkit-text-stroke: .01px #000000;
}

h4.mainH4 {
  margin: 3rem 0rem 1.2rem 8%;
}

.mainBotText {
  font-size: 1.4rem;
  margin: 0 0;
  padding: 1% 10% 0;
  color: #1a1a1a;
}

.mainBot {
  background-image: url(../Assets/PS/Untitled-1.png);
  background-repeat: no-repeat;
  background-size: 100% 150%;
}


/* Subscribe form */
#mc-embedded-subscribe-form {
  background-color: rgba(0, 0, 0, .0);
  padding-bottom: 1%;
}

#mc-embedded-subscribe {
  margin: 0 0 .44%;
}

#mc_embed_signup {
  font-size: 1rem;
}

/* Footer Nav */

#mainFoot {
  background-color: rgba(0, 0, 0, 0.95);
}

.copyrightText {
  color: white;
  font-size: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #e95950;
}

.smIcons {
  font-size: 1.5rem;
  text-align: left;
}

#mainFoot .list-group-item {
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 1.1rem;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 12px 20px 0;
  border: 0;
}

#mainFoot .topRow {
  margin: 0 21% 0 28%;
  padding: .3% 0 0 0;
}

.footColumn {
  margin: 0;
  padding: 0;
}

.fa-instagram:hover {
  color: #e62e00;
}

.fa-facebook:hover {
  color: #003380;
}

#mainFoot .list-group-item a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  color: #595959;
  font-weight: 500;
}

#mainFoot .list-group-item a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  color: #595959;
  font-weight: 500;
}

#mainFoot .list-group-item a:hover {
  /* Applies to links under the pointer */
  text-decoration: none;
  color: #e6e6e6;
  font-weight: 600;
}

#mainFoot .list-group-item a:active {
  /* Applies to activated links */
  text-decoration: none;
  color: #595959;
  font-weight: 500;
}

div.footer-copyright {
  color: #595959;
  padding: .15%;
}

#mce-EMAIL {
  width: 30%;
}

/* Media Query / Responsiveness medium-large*/
@media only screen and (max-width: 1700px) {

  .smIcons {
    padding: 0 0 0 4%;
  }

}


/* Media Query / Responsiveness medium-large*/
@media only screen and (max-width: 1500px) {

  .searchButton {
    margin: 0 .5rem;
    font-weight: 500;
  }

  .topSearch {
    margin: 0;
  }

  .unforBrand {
    width: 75px;
    margin: 0;
  }

  .smIcons {
    text-align: center;
  }
}



/* 1300px breakpoint*/
@media only screen and (max-width: 1300px) {

  #navbarTogglerDemo02 {
    text-align: center;
  }

  #headNav {
    padding: 0 1%;
  }

  .searchForm {
    display: none;
  }

  .mainTopText {
    font-size: 2.5rem;
  }

  h1.mainH1,
  h4.mainH4 {
    font-size: 2rem;
    text-align: justify;
  }

  h1.mainH1 {
    margin: 0 0 0;
  }

  h4.mainH4 {
    margin: 2rem 0 0;
  }

  .mainText {
    margin: 0;
    padding: 1rem 0 0;
    font-size: 1.4rem;
  }

  .mainVid {
    width: 100%;
  }

  #mce-EMAIL {
    width: 45%;
  }

  .mainBotText {
    margin: 0;
    padding: .5rem .5rem;
  }

  /*Footer*/

  .smIcons {
    font-size: 1.5rem;
    text-align: right;
    padding: 0 1% 0 0;
    margin: 0;
  }

  #mainFoot ul.list-group-horizontal {
    -ms-flex-pack: left !important;
    justify-content: left !important;
  }

  #mainFoot .list-group-item {
    padding: 1% 0;
    font-size: 1.1rem;
  }

  .flex-container {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: nowrap;
  }


  li {
    width: 15%;
    float: left;
  }

  .navListCrew {
    width: 18%
  }

  /* Media Query / Responsiveness small */
  @media only screen and (max-width: 768px) {

    /*Header*/
    .navImage {
      display: none;
    }

    /*Body Content*/
    body {}

    .mainTopText {
      font-size: 2.5rem;
    }

    h1.mainH1,
    h4.mainH4 {
      font-size: 1rem;
      text-align: center;
      text-shadow: 0 0 0 #000000;
    }

    h1.mainH1 {
      margin: 2rem 0 0;
    }

    h4.mainH4 {
      margin: 1rem 0 0;
    }

    .mainText {
      margin: 0;
      padding: 0 0 0;
      font-size: .9rem;
      text-align: justify
    }

    #mce-EMAIL {
      width: 60%;
    }

    .newsLetterHead {
      font-size: 1.5rem;
    }

    li {
      width: 20%;
    }

    .navListCrew {
      width: 23%
    }

    /*Footer*/

    .smIcons {
      font-size: 1rem;
      text-align: right;
      padding: 0 1% 0 0;
      margin: 0;

    }

    #mainFoot ul.list-group-horizontal {
      -ms-flex-pack: left !important;
      justify-content: left !important;
    }

    #mainFoot .list-group-item {
      padding: 1%;
      font-size: 1rem;
    }

    .flex-container {
      margin: 0 !important;
      padding: 0 !important;
      display: flex;
      flex-wrap: nowrap;
    }

  }

  @media only screen and (max-width: 576px) {

    .navListCrew {
      width: 26%
    }

  }
  
  @media only screen and (max-width: 400px) {

    .navListCrew {
      width: 29%
    }

  }

  /*Secondary Pages Overall Styling*/
  .secondaryPages {
    background-image: url(../Assets/PS/artem-sapegin-e2uTOpgW5Ec-unsplash.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
